.movie {
  margin: 60px 6px;
  width: 300px;
  height: 630px;
  text-align: center;
  background-color: rgba(112, 115, 124, 0.4);
  box-shadow: 7px 7px 2px 2px rgb(22, 23, 25);
}
li {
  list-style-type: none;
}
.movie__poster {
  margin-bottom: 15px;
}
.movie__genres {
  margin-bottom: 15px;
}
